<div>
  <mat-form-field appearance="outline">
    <mat-label>Filtrar por nome</mat-label>
    <input type="text" matInput (keyup)="applyFilter($event)">
  </mat-form-field>
</div>

<table mat-table [dataSource]="studentsData()" class="students-table" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="cellPhoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
    <td mat-cell *matCellDef="let element"> {{element.cellPhoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Telefone </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
  </ng-container>

  <ng-container matColumnDef="cpf">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> CPF </th>
    <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
  </ng-container>
  <ng-container matColumnDef="birthDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Data de Nascimento </th>
    <td mat-cell *matCellDef="let element"> {{element.birthDate}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="actions-column"> Ações </th>
    <td mat-cell *matCellDef="let element" class="actions-column">
      <div class="actions-container">
        <a href="#top-page">
          <button class="action-buttons" (click)="updateStudent(element)">
            <mat-icon fontIcon="edit" class="edit-icon"></mat-icon>
          </button>
        </a>
        <button class="action-buttons" (click)="deleteStudent(element.id)">
          <mat-icon fontIcon="delete" class="delete-icon"></mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.row-updating]="isRowUpdating(row)"></tr>
</table>

<mat-paginator
 [length]="100"
 [pageSize]="7"
 [pageSizeOptions]="[5, 7, 10, 25, 50, 100]">
</mat-paginator>
